@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(53, 19, 19);
    color:blanchedalmond;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 6rem;
    color:rgb(255, 240, 218);
    text-shadow: -5px 5px 0 #000;
    margin: 1rem;
    position: absolute;
}

h2 {
    font-size: 1.5rem;
    color:rgb(255, 240, 218);
    text-shadow: -2px 2px 0 #000;
    margin: 1rem;
    position: absolute;
    bottom: 6rem;
}

h3 {
    font-size: 3rem;
    color:rgb(255, 240, 218);
    text-shadow: -3px 3px 0 #000;
}

#content {
    flex: 1 0 auto;
    border-top: 5px solid rgb(255, 210, 143);
    border-bottom: 5px solid rgb(255, 210, 143);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content img {
    width: 100%;
    height: 100%;
}
.nav {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 1rem;
    height: 3rem;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.icons {
    display:flex;
    gap: 1rem;
    margin-top: 1rem;
}

.facebook, .instagram{
    width: 40px;
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-size: 2rem;
}

.tab {
    cursor: pointer;
}

a:hover, .tab:hover{
    border-bottom: 2px solid rgb(255, 210, 143);
    color: rgb(255, 210, 143);
    transform: translateY(-5px);
}

.about-text {
    position: absolute;
    background-color: rgba(133, 84, 10, 0.7);
    font-size: 3rem;
    margin: 2rem;
    padding: 3rem;
    text-indent: 5%;
}

.menu-text {
    position: absolute;
    background-color: rgba(133, 84, 10, 0.7);
    font-size: 2rem;
    margin: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item {
    border-bottom: 5px solid rgb(31, 3, 3);
    padding-bottom: 2rem;
}